{% extends "layout.html" %}

{% block pageTitle %}
  Nature of business: Standard Industrial Classification (SIC) codes - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Nature of business: Standard Industrial Classification (SIC) codes
      </h1>
      <p class="govuk-body">
        Companies House uses a condensed version of the full list of codes available from the
        <a href="https://www.ons.gov.uk/methodology/classificationsandstandards/ukstandardindustrialclassificationofeconomicactivities/uksic2007" class="govuk-link">Office of National Statistics</a>.
      </p>
      {{ govukInsetText({
        text: "Only use codes on the condensed SIC code list below when filing to Companies House or your filing may be rejected."
      }) }}
      <p>
        Even if your company is dormant (99999) or non-trading (74990) you'll still need to provide the appropriate SIC code.
      </p>
      {{ govukInput({
        label: {
          text: "Condensed SIC code list",
          classes: "govuk-body govuk-!-font-weight-bold"
        },
        hint: {
          text: "Enter your search term, for example 'motor'"
        },
        id: "txtSearch",
        name: "txtSearch"
      }) }}
      {{ govukTable({
  caption: "Results",
  captionClasses: "govuk-table__caption--m",
  classes: "generalTable",
  head: [
    {
      text: "Code"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "01110"
      },
      {
        text: "Growing of cereals (except rice), leguminous crops and oil seeds "
      }
    ],
    [
      {
        text: "01120"
      },
      {
        text: "Growing of rice"
      }
    ],
    [
      {
        text: "01130"
      },
      {
        text: "Growing of vegetables and melons, roots and tubers"
      }
    ],
    [
      {
        text: "01140"
      },
      {
        text: "Growing of sugar cane "
      }
    ],
    [
      {
        text: "01150"
      },
      {
        text: "Growing of tobacco"
      }
    ],
    [
      {
        text: "01160"
      },
      {
        text: "Growing of fibre crops"
      }
    ],
    [
      {
        text: "01190"
      },
      {
        text: "Growing of other non-perennial crops"
      }
    ],
    [
      {
        text: "01210"
      },
      {
        text: "Growing of grapes"
      }
    ],
    [
      {
        text: "01220"
      },
      {
        text: "Growing of tropical and subtropical fruits "
      }
    ],
    [
      {
        text: "01230"
      },
      {
        text: "Growing of citrus fruits "
      }
    ],
    [
      {
        text: "01240"
      },
      {
        text: "Growing of pome fruits and stone fruits "
      }
    ],
    [
      {
        text: "01250"
      },
      {
        text: "Growing of other tree and bush fruits and nuts "
      }
    ],
    [
      {
        text: "01260"
      },
      {
        text: "Growing of oleaginous fruits "
      }
    ],
    [
      {
        text: "01270"
      },
      {
        text: "Growing of beverage crops"
      }
    ],
    [
      {
        text: "01280"
      },
      {
        text: "Growing of spices, aromatic, drug and pharmaceutical crops "
      }
    ],
    [
      {
        text: "01290"
      },
      {
        text: "Growing of other perennial crops"
      }
],
[
  {
    text: "01300"
  },
  {
    text: "Plant propagation "
  }
],
[
  {
    text: "01410"
  },
  {
    text: "Raising of dairy cattle "
  }
],
[
  {
    text: "01420"
  },
  {
    text: "Raising of other cattle and buffaloes "
  }
],
[
  {
    text: "01430"
  },
  {
    text: "Raising of horses and other equines "
  }
],
[
  {
    text: "01440"
  },
  {
    text: "Raising of camels and camelids  "
  }
],
[
  {
    text: "01450"
  },
  {
    text: "Raising of sheep and goats "
  }
],
[
  {
    text: "01460"
  },
  {
    text: "Raising of swine/pigs "
  }
],
[
  {
    text: "01470"
  },
  {
    text: "Raising of poultry "
  }
],
[
  {
    text: "01490"
  },
  {
    text: "Raising of other animals "
  }
],
[
  {
    text: "01500"
  },
  {
    text: "Mixed farming "
  }
],
[
  {
    text: "01610"
  },
  {
    text: "Support activities for crop production "
  }
],
[
  {
    text: "01621"
  },
  {
    text: "Farm animal boarding and care "
  }
],
[
  {
    text: "01629"
  },
  {
    text: "Support activities for animal production (other than farm animal boarding and care) n.e.c. "
  }
],
[
  {
    text: "01630"
  },
  {
    text: "Post-harvest crop activities "
  }
],
[
  {
    text: "01640"
  },
  {
    text: "Seed processing for propagation "
  }
],
[
  {
    text: "01700"
  },
  {
    text: "Hunting, trapping and related service activities "
  }
],
[
  {
    text: "02100"
  },
  {
    text: "Silviculture and other forestry activities "
  }
],
[
  {
    text: "02200"
  },
  {
    text: "Logging"
  }
],
[
  {
    text: "02300"
  },
  {
    text: "Gathering of wild growing non-wood products "
  }
],
[
  {
    text: "02400"
  },
  {
    text: "Support services to forestry "
  }
],
[
  {
    text: "03110"
  },
  {
    text: "Marine fishing "
  }
],
[
  {
    text: "03120"
  },
  {
    text: "Freshwater fishing "
  }
],
[
  {
    text: "03210"
  },
  {
    text: "Marine aquaculture"
  }
],
[
  {
    text: "03220"
  },
  {
    text: "Freshwater aquaculture"
  }
],
[
  {
    text: "05101"
  },
  {
    text: "Deep coal mines"
  }
],
[
  {
    text: "05102"
  },
  {
    text: "Open cast coal working "
  }
],
[
  {
    text: "05200"
  },
  {
    text: "Mining of lignite"
  }
],
[
  {
    text: "06100"
  },
  {
    text: "Extraction of crude petroleum "
  }
],
[
  {
    text: "06200"
  },
  {
    text: "Extraction of natural gas "
  }
],
[
  {
    text: "07100"
  },
  {
    text: "Mining of iron ores "
  }
],
[
  {
    text: "07210"
  },
  {
    text: "Mining of uranium and thorium ores "
  }
],
[
  {
    text: "07290"
  },
  {
    text: "Mining of other non-ferrous metal ores "
  }
],
[
  {
    text: "08110"
  },
  {
    text: "Quarrying of ornamental and building stone, limestone, gypsum, chalk and slate "
  }
],
[
  {
    text: "08120"
  },
  {
    text: "Operation of gravel and sand pits; mining of clays and kaolin "
  }
],
[
  {
    text: "08910"
  },
  {
    text: "Mining of chemical and fertilizer minerals "
  }
],
[
  {
    text: "08920"
  },
  {
    text: "Extraction of peat "
  }
],
[
  {
    text: "08930"
  },
  {
    text: "Extraction of salt "
  }
],
[
  {
    text: "08990"
  },
  {
    text: "Other mining and quarrying n.e.c. "
  }
],
[
  {
    text: "09100"
  },
  {
    text: "Support activities for petroleum and natural gas mining "
  }
],
[
  {
    text: "09900"
  },
  {
    text: "Support activities for other mining and quarrying "
  }
],
[
  {
    text: "10110"
  },
  {
    text: "Processing and preserving of meat "
  }
],
[
  {
    text: "10120"
  },
  {
    text: "Processing and preserving of poultry meat "
  }
],
[
  {
    text: "10130"
  },
  {
    text: "Production of meat and poultry meat products "
  }
],
[
  {
    text: "10200"
  },
  {
    text: "Processing and preserving of fish, crustaceans and molluscs "
  }
],
[
  {
    text: "10310"
  },
  {
    text: "Processing and preserving of potatoes "
  }
],
[
  {
    text: "10320"
  },
  {
    text: "Manufacture of fruit and vegetable juice "
  }
],
[
  {
    text: "10390"
  },
  {
    text: "Other processing and preserving of fruit and vegetables "
  }
],
[
  {
    text: "10410"
  },
  {
    text: "Manufacture of oils and fats "
  }
],
[
  {
    text: "10420"
  },
  {
    text: "Manufacture of margarine and similar edible fats "
  }
],
[
  {
    text: "10511"
  },
  {
    text: "Liquid milk and cream production "
  }
],
[
  {
    text: "10512"
  },
  {
    text: "Butter and cheese production "
  }
],
[
  {
    text: "10519"
  },
  {
    text: "Manufacture of other milk products "
  }
],
[
  {
    text: "10520"
  },
  {
    text: "Manufacture of ice cream "
  }
],
[
  {
    text: "10611"
  },
  {
    text: "Grain milling "
  }
],
[
  {
    text: "10612"
  },
  {
    text: "Manufacture of breakfast cereals and cereals-based food "
  }
],
[
  {
    text: "10620"
  },
  {
    text: "Manufacture of starches and starch products "
  }
],
[
  {
    text: "10710"
  },
  {
    text: "Manufacture of bread; manufacture of fresh pastry goods and cakes "
  }
],
[
  {
    text: "10720"
  },
  {
    text: "Manufacture of rusks and biscuits; manufacture of preserved pastry goods and cakes "
  }
],
[
  {
    text: "10730"
  },
  {
    text: "Manufacture of macaroni, noodles, couscous and similar farinaceous products "
  }
],
[
  {
    text: "10810"
  },
  {
    text: "Manufacture of sugar "
  }
],
[
  {
    text: "10821"
  },
  {
    text: "Manufacture of cocoa and chocolate confectionery "
  }
],
[
  {
    text: "10822"
  },
  {
    text: "Manufacture of sugar confectionery "
  }
],
[
  {
    text: "10831"
  },
  {
    text: "Tea processing "
  }
],
[
  {
    text: "10832"
  },
  {
    text: "Production of coffee and coffee substitutes "
  }
],
[
  {
    text: "10840"
  },
  {
    text: "Manufacture of condiments and seasonings "
  }
],
[
  {
    text: "10850"
  },
  {
    text: "Manufacture of prepared meals and dishes "
  }
],
[
  {
    text: "10860"
  },
  {
    text: "Manufacture of homogenized food preparations and dietetic food "
  }
],
[
  {
    text: "10890"
  },
  {
    text: "Manufacture of other food products n.e.c. "
  }
],
[
  {
    text: "10910"
  },
  {
    text: "Manufacture of prepared feeds for farm animals "
  }
],
[
  {
    text: "10920"
  },
  {
    text: "Manufacture of prepared pet foods  "
  }
],
[
  {
    text: "11010"
  },
  {
    text: "Distilling, rectifying and blending of spirits "
  }
],
[
  {
    text: "11020"
  },
  {
    text: "Manufacture of wine from grape "
  }
],
[
  {
    text: "11030"
  },
  {
    text: "Manufacture of cider and other fruit wines "
  }
],
[
  {
    text: "11040"
  },
  {
    text: "Manufacture of other non-distilled fermented beverages  "
  }
],
[
  {
    text: "11050"
  },
  {
    text: "Manufacture of beer "
  }
],
[
  {
    text: "11060"
  },
  {
    text: "Manufacture of malt "
  }
],
[
  {
    text: "11070"
  },
  {
    text: "Manufacture of soft drinks; production of mineral waters and other bottled waters "
  }
],
[
  {
    text: "12000"
  },
  {
    text: "Manufacture of tobacco products "
  }
],
[
  {
    text: "13100"
  },
  {
    text: "Preparation and spinning of textile fibres "
  }
],
[
  {
    text: "13200"
  },
  {
    text: "Weaving of textiles "
  }
],
[
  {
    text: "13300"
  },
  {
    text: "Finishing of textiles "
  }
],
[
  {
    text: "13910"
  },
  {
    text: "Manufacture of knitted and crocheted fabrics "
  }
],
[
  {
    text: "13921"
  },
  {
    text: "Manufacture of soft furnishings "
  }
],
[
  {
    text: "13922"
  },
  {
    text: "Manufacture of canvas goods, sacks, etc. "
  }
],
[
  {
    text: "13923"
  },
  {
    text: "Manufacture of household textiles "
  }
],
[
  {
    text: "13931"
  },
  {
    text: "Manufacture of woven or tufted carpets and rugs "
  }
],
[
  {
    text: "13939"
  },
  {
    text: "Manufacture of other carpets and rugs "
  }
],
[
  {
    text: "13940"
  },
  {
    text: "Manufacture of cordage, rope, twine and netting "
  }
],
[
  {
    text: "13950"
  },
  {
    text: "Manufacture of non-wovens and articles made from non-wovens, except apparel "
  }
],
[
  {
    text: "13960"
  },
  {
    text: "Manufacture of other technical and industrial textiles "
  }
],
[
  {
    text: "13990"
  },
  {
    text: "Manufacture of other textiles n.e.c. "
  }
],
[
  {
    text: "14110"
  },
  {
    text: "Manufacture of leather clothes "
  }
],
[
  {
    text: "14120"
  },
  {
    text: "Manufacture of workwear "
  }
],
[
  {
    text: "14131"
  },
  {
    text: "Manufacture of other men's outerwear "
  }
],
[
  {
    text: "14132"
  },
  {
    text: "Manufacture of other women's outerwear "
  }
],
[
  {
    text: "14141"
  },
  {
    text: "Manufacture of men's underwear "
  }
],
[
  {
    text: "14142"
  },
  {
    text: "Manufacture of women's underwear "
  }
],
[
  {
    text: "14190"
  },
  {
    text: "Manufacture of other wearing apparel and accessories n.e.c. "
  }
],
[
  {
    text: "14200"
  },
  {
    text: "Manufacture of articles of fur "
  }
],
[
  {
    text: "14310"
  },
  {
    text: "Manufacture of knitted and crocheted hosiery "
  }
],
[
  {
    text: "14390"
  },
  {
    text: "Manufacture of other knitted and crocheted apparel "
  }
],
[
  {
    text: "15110"
  },
  {
    text: "Tanning and dressing of leather; dressing and dyeing of fur "
  }
],
[
  {
    text: "15120"
  },
  {
    text: "Manufacture of luggage, handbags and the like, saddlery and harness "
  }
],
[
  {
    text: "15200"
  },
  {
    text: "Manufacture of footwear "
  }
],
[
  {
    text: "16100"
  },
  {
    text: "Sawmilling and planing of wood "
  }
],
[
  {
    text: "16210"
  },
  {
    text: "Manufacture of veneer sheets and wood-based panels "
  }
],
[
  {
    text: "16220"
  },
  {
    text: "Manufacture of assembled parquet floors "
  }
],
[
  {
    text: "16230"
  },
  {
    text: "Manufacture of other builders' carpentry and joinery "
  }
]
  ]
}) }}
    </div>
  </div>

{% endblock %}