{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Nature of business: Standard Industrial Classification (SIC) codes
      </h1>
      <p class="govuk-body">
        Companies House uses a condensed version of the full list of codes available from the Office of National Statistics.
      </p>
      {{ govukInsetText({
        text: "Only use codes on the condensed SIC code list below when filing to Companies House or your filing may be rejected."
      }) }}
      <p>
        Even if your company is dormant (99999) or non-trading (74990) you'll still need to provide the appropriate SIC code.
      </p>
      {{ govukInput({
        label: {
          text: "Condensed SIC code list"
        },
        hint: {
          text: "Enter your search term, for example 'motor'"
        },
        id: "sic-code-list",
        name: "sic-code-list"
      }) }}
      {{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Code"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "01110"
      },
      {
        text: "Growing of cereals (except rice), leguminous crops and oil seeds "
      }
    ],
    [
      {
        text: "01120"
      },
      {
        text: "Growing of rice"
      }
    ],
    [
      {
        text: "01130"
      },
      {
        text: "Growing of vegetables and melons, roots and tubers"
      }
    ],
    [
      {
        text: "01140"
      },
      {
        text: "Growing of sugar cane "
      }
    ],
    [
      {
        text: "01150"
      },
      {
        text: "Growing of tobacco"
      }
    ],
    [
      {
        text: "01160"
      },
      {
        text: "Growing of fibre crops"
      }
    ],
    [
      {
        text: "01190"
      },
      {
        text: "Growing of other non-perennial crops"
      }
    ],
    [
      {
        text: "01210"
      },
      {
        text: "Growing of grapes"
      }
    ],
    [
      {
        text: "01220"
      },
      {
        text: "Growing of tropical and subtropical fruits "
      }
    ],
    [
      {
        text: "01230"
      },
      {
        text: "Growing of citrus fruits "
      }
    ],
    [
      {
        text: "01240"
      },
      {
        text: "Growing of pome fruits and stone fruits "
      }
    ],
    [
      {
        text: "01250"
      },
      {
        text: "Growing of other tree and bush fruits and nuts "
      }
    ],
    [
      {
        text: "01260"
      },
      {
        text: "Growing of oleaginous fruits "
      }
    ],
    [
      {
        text: "01270"
      },
      {
        text: "Growing of beverage crops"
      }
    ],
    [
      {
        text: "01280"
      },
      {
        text: "Growing of spices, aromatic, drug and pharmaceutical crops "
      }
    ],
    [
      {
        text: "01290"
      },
      {
        text: "Growing of other perennial crops"
      }
],
[
  {
    text: "01300"
  },
  {
    text: "Plant propagation "
  }
],
[
  {
    text: "01410"
  },
  {
    text: "Raising of dairy cattle "
  }
],
[
  {
    text: "01420"
  },
  {
    text: "Raising of other cattle and buffaloes "
  }
],
[
  {
    text: "01430"
  },
  {
    text: "Raising of horses and other equines "
  }
],
[
  {
    text: "01440"
  },
  {
    text: "Raising of camels and camelids  "
  }
],
[
  {
    text: "01450"
  },
  {
    text: "Raising of sheep and goats "
  }
],
[
  {
    text: "01460"
  },
  {
    text: "Raising of swine/pigs "
  }
],
[
  {
    text: "01470"
  },
  {
    text: "Raising of poultry "
  }
],
[
  {
    text: "01490"
  },
  {
    text: "Raising of other animals "
  }
],
[
  {
    text: "01500"
  },
  {
    text: "Mixed farming "
  }
],
[
  {
    text: "01610"
  },
  {
    text: "Support activities for crop production "
  }
],
[
  {
    text: "01621"
  },
  {
    text: "Farm animal boarding and care "
  }
],
[
  {
    text: "01629"
  },
  {
    text: "Support activities for animal production (other than farm animal boarding and care) n.e.c. "
  }
],
[
  {
    text: "01630"
  },
  {
    text: "Post-harvest crop activities "
  }
],
[
  {
    text: "01640"
  },
  {
    text: "Seed processing for propagation "
  }
],
[
  {
    text: "01700"
  },
  {
    text: "Hunting, trapping and related service activities "
  }
],
[
  {
    text: "02100"
  },
  {
    text: "Silviculture and other forestry activities "
  }
],
[
  {
    text: "02200"
  },
  {
    text: "Logging"
  }
],
[
  {
    text: "02300"
  },
  {
    text: "Gathering of wild growing non-wood products "
  }
],
[
  {
    text: "02400"
  },
  {
    text: "Support services to forestry "
  }
],
[
  {
    text: "03110"
  },
  {
    text: "Marine fishing "
  }
],
[
  {
    text: "03120"
  },
  {
    text: "Freshwater fishing "
  }
],
[
  {
    text: "03210"
  },
  {
    text: "Marine aquaculture"
  }
],
[
  {
    text: "03220"
  },
  {
    text: "Freshwater aquaculture"
  }
]
  ]
}) }}
    </div>
  </div>

{% endblock %}