{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Nature of business: Standard Industrial Classification (SIC) codes
      </h1>
      <p class="govuk-body">
        Companies House uses a condensed version of the full list of codes available from the Office of National Statistics.
      </p>
      {{ govukInsetText({
        text: "Only use codes on the condensed SIC code list below when filing to Companies House or your filing may be rejected."
      }) }}
      <p>
        Even if your company is dormant (99999) or non-trading (74990) you'll still need to provide the appropriate SIC code.
      </p>
      {{ govukInput({
        label: {
          text: "Condensed SIC code list"
        },
        hint: {
          text: "Enter your search term, for example 'motor'"
        },
        id: "sic-code-list",
        name: "sic-code-list"
      }) }}
      {{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Code"
    },
    {
      text: "Description"
    }
  ],
  rows: [
    [
      {
        text: "01110"
      },
      {
        text: "Growing of cereals (except rice), leguminous crops and oil seeds "
      }
    ],
    [
      {
        text: "01120"
      },
      {
        text: "Growing of rice"
      }
    ],
    [
      {
        text: "01130"
      },
      {
        text: "Growing of vegetables and melons, roots and tubers"
      }
    ],
    [
      {
        text: "01140"
      },
      {
        text: "Growing of sugar cane "
      }
    ],
    [
      {
        text: "01150"
      },
      {
        text: "Growing of tobacco"
      }
    ]
  ]
}) }}
    </div>
  </div>

{% endblock %}